# Server Configuration
PORT=3001

# Database Configuration
PG_USER=postgres
PG_HOST=localhost
PG_DATABASE=civic_sphere
PG_PASSWORD=admin@123
PG_PORT=5432
PG_SSL=false
ENABLE_PG_LOG=false

# Swagger Configuration
SWAGGER_ENABLE=true
SWAGGER_THEME=one-dark
SWAGGER_DOCS_PATH=docs
SWAGGER_JSON_PATH=docs-json
SWAGGER_DEVELOPMENT_URL=https://deepak-test.sample.com/
SWAGGER_PRODUCTION_URL=https://dk404.sample.com/

# Email Configuration
EMAIL=sample@mail.com
EMAIL_PASS=password
NODEMAILER_LOGGER=false
NODEMAILER_DEBUG=false

# JWT Configuration
JWT_SECRET=your-secret-key-here
JWT_EXPIRY=1h
